### Loading data into Pandas

In [66]:
# Import panda package
import pandas as pd
import re # regular expressions

In [5]:
# Load data
df = pd.read_csv("pokemon_data.csv")                        # load a .csv file

df_xlsx = pd.read_excel("pokemon_data.xlsx")                # load a .xlsx file

df_txt = pd.read_csv("pokemon_data.txt", delimiter = "\t")  # load a .txt file with the tab delimiter

In [ ]:
# print loaded data sets
print(df)               # look at the whole data set
print(df.head(10))      # print the first 10 rows
print(df.tail(3))       # print the last 3 rows

### Reading Data in Pandas

In [36]:
## Read Headers
print(df.columns)

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [37]:
## Reach each Column
print(df["Name"]) # pokud chci vytisknout jeden urcity sloupec
print(df[["Name", "Type 1", "Type 2"]]) # pokud chci vytisknout nekolik sloupcu najednou

0                  Bulbasaur
1                    Ivysaur
2                   Venusaur
3      VenusaurMega Venusaur
4                 Charmander
               ...
795                  Diancie
796      DiancieMega Diancie
797      HoopaHoopa Confined
798       HoopaHoopa Unbound
799                Volcanion
Name: Name, Length: 800, dtype: object
                      Name   Type 1  Type 2
0                Bulbasaur    Grass  Poison
1                  Ivysaur    Grass  Poison
2                 Venusaur    Grass  Poison
3    VenusaurMega Venusaur    Grass  Poison
4               Charmander     Fire     NaN
..                     ...      ...     ...
795                Diancie     Rock   Fairy
796    DiancieMega Diancie     Rock   Fairy
797    HoopaHoopa Confined  Psychic   Ghost
798     HoopaHoopa Unbound  Psychic    Dark
799              Volcanion     Fire   Water

[800 rows x 3 columns]

In [38]:
## Read each Row
# iloc = Integer LOCation
print(df.iloc[1]) # vytisknout radek s indexem 1
print(df.iloc[0:4]) # tytisknout radky 1 - 3

#                   2
Name          Ivysaur
Type 1          Grass
Type 2         Poison
HP                 60
Attack             62
Defense            63
Sp. Atk            80
Sp. Def            80
Speed              60
Generation          1
Legendary       False
Name: 1, dtype: object
   #                   Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  \
0  1              Bulbasaur  Grass  Poison  45      49       49       65
1  2                Ivysaur  Grass  Poison  60      62       63       80
2  3               Venusaur  Grass  Poison  80      82       83      100
3  3  VenusaurMega Venusaur  Grass  Poison  80     100      123      122

   Sp. Def  Speed  Generation  Legendary
0       65     45           1      False
1       80     60           1      False
2      100     80           1      False
3      120     80           1      False

In [1]:
for index, row in df.iterrows():
    print(index, row)

NameError: name 'df' is not defined

In [2]:
for index, row in df.iterrows():
    print(index, row["Name"])

NameError: name 'df' is not defined

In [3]:
print(df.loc[df["Type 1"] == "Fire"]) # vytisknout radky, kde Type 1 = "Fire"

NameError: name 'df' is not defined

In [4]:
## Read a specific location
print(df.iloc[2, 1]) # vytisknout hodnotu v druhem radku a druhem sloupci

NameError: name 'df' is not defined

### Sorting / Describing Data

In [5]:
# Basic statistical stuff
df.describe()

NameError: name 'df' is not defined

In [6]:
# print the data frame
df

NameError: name 'df' is not defined

In [7]:
# sort by name ASC
df.sort_values("Name")

NameError: name 'df' is not defined

In [8]:
# sort by name DESC
df.sort_values("Name", ascending = False)

NameError: name 'df' is not defined

In [9]:
# sort by multiple columns ascending
df.sort_values(["Type 1", "HP"])

NameError: name 'df' is not defined

In [10]:
 # sort by multiple columns descending
df.sort_values(["Type 1", "HP"], ascending = False)

NameError: name 'df' is not defined

In [11]:
# sort by multiple columns
# type 1 should be ascending (1) and hp descending (0)
df.sort_values(["Type 1", "HP"], ascending = [1, 0])

NameError: name 'df' is not defined

### Making changes to the data

In [12]:
df["Total"] = df["Attack"] + df["Defense"] # will add a new colum "Total"

df.head(5)

NameError: name 'df' is not defined

In [13]:
# Drop columns
df = df.drop(columns = ["Total"]) # musim stanovit df znovu
df.head(5)

NameError: name 'df' is not defined

In [14]:
# axis = 1 -> adding horizontally
# axis = 0 -> adding vertically
# .sum()
df["Total"] = df.iloc[:, 4:10].sum(axis = 1) 
df.head(5)

NameError: name 'df' is not defined

In [15]:
# create a list of columns
cols = list(df.columns.values)
print(cols)

#cols[-1] vyda pouze string, ale potrebuju list, tj. musim mit [cols[-1]]
df = df[cols[0:4] + [cols[-1]] + cols[4:12]]
df.head(5)

NameError: name 'df' is not defined

### Saving our Data (Exporing into Desired Format)

In [16]:
# export df as .csv
# exportiert Daten
df.to_csv("modified.csv")

NameError: name 'df' is not defined

In [17]:
# ohne indexen in der ersten Spalte exportieren .csv
df.to_csv("modified.csv", index = False)

NameError: name 'df' is not defined

In [18]:
# ins Excel exportieren
df.to_excel("modified.xlsx", index = False)

NameError: name 'df' is not defined

In [19]:
# ins .csv exportieren mit dem tabulator als Trennung
df.to_csv("modified.txt", index = False, sep = "\t")

NameError: name 'df' is not defined

### Filtering Data

In [20]:
# Filtere Reihen, die als Type 1 "Grass" haben
df.loc[df["Type 1"] == "Grass"]

NameError: name 'df' is not defined

In [21]:
# Filtere Reihen, die als Type 1 "Grass" und als Type 2 "Poison" haben
# Podminky mezi "&" musim rozdelit pomoci kulatych zavorek "()"
df.loc[(df["Type 1"] == "Grass") & (df["Type 2"] == "Poison")]

NameError: name 'df' is not defined

In [22]:
# Filtere Reihen, die als Type 1 "Grass" ODER als Type 2 "Poison" haben
# Podminky mezi "|" musim rozdelit pomoci kulatych zavorek "()"
df.loc[(df["Type 1"] == "Grass") | (df["Type 2"] == "Poison")]

NameError: name 'df' is not defined

In [23]:
new_df = df.loc[(df["Type 1"] == "Grass") & (df["Type 2"] == "Poison") & (df["HP"] > 70)]

new_df

NameError: name 'df' is not defined

In [24]:
# reset indexes
# stary index se ale ulozi
new_df = new_df.reset_index()
new_df

NameError: name 'new_df' is not defined

In [25]:
# pokud chci stary index smazat
new_df = new_df.reset_index(drop = True)
new_df

NameError: name 'new_df' is not defined

In [26]:
# Vyfiltruje jmena, kt. obsahuji "Mega"
df.loc[df["Name"].str.contains("Mega")]

NameError: name 'df' is not defined

In [27]:
# vyfiltruje jmena, kt. neobsahuji "Mega" --> pouzit "~"
df.loc[~df["Name"].str.contains("Mega")]

NameError: name 'df' is not defined

In [28]:
# Najdi pouze pokemony, kt. obsahuji Type 1 "fire" nebo "grass"
# re.I = case insensitive
# regex = Regular Expression
df.loc[df["Type 1"].str.contains("fire|grass", flags = re.I, regex = True)]

NameError: name 'df' is not defined

In [29]:
# I want all pockemons name including "pi"
# pi[a-z]* -> hledam vyraz(y), kt. zacina "pi" a pak pokracuje pismenem od "a" do "z" a "*" znamena zero or more
df.loc[df["Name"].str.contains("pi[a-z]*", flags = re.I, regex = True)]

NameError: name 'df' is not defined

In [30]:
# chci vsechny pokemony, kt. zacinaji s "pi"
# pouziji "^" -> "^pi[a-z]*"
df.loc[df["Name"].str.contains("^pi[a-z]*", flags = re.I, regex = True)]

NameError: name 'df' is not defined

### Conditional Changes

In [31]:
# change the data frame based on the condition
# I want to change the type "Fire" in the column "Type 1" into "Flamer"
df.loc[df["Type 1"] == "Fire", "Type 1"] = "Flamer"
df

NameError: name 'df' is not defined

In [32]:
# All the "Fire" Pokemons are Legendary = True
df.loc[df["Type 1"] == "Grass", "Legendary"] = True
df

NameError: name 'df' is not defined

In [33]:
# Jelikoz jsem pozmenilad data, tak uploaduji data znovu
df = pd.read_csv("modified.csv")
df

NameError: name 'pd' is not defined

In [34]:
# Pokud chci zmenit nekolik columns najednou
# Pokud sloupec "Total" je vetsi nez 500, tak zmenim u sloupcu "Generation" a "Legendary" values na "TEST VALUE"
df.loc[df["Total"] > 500, ["Generation", "Legendary"]] = "TEST VALUE"
df

NameError: name 'df' is not defined

In [35]:
# Pokud sloupec "Total" je vetsi nez 500, tak zmenim u sloupcu "Generation" a "Legendary" values na "Test 1" a "Test 2"
df.loc[df["Total"] < 500, ["Generation", "Legendary"]] = ["Test 1", "Test 2"]
df

NameError: name 'df' is not defined

### Aggregate Statistics (Groupby)

In [36]:
# Bilde Mittelwert pro Type in der Spalte "Type 1" und sortiere absteigend nach der Spalte "Defense"
df.groupby(["Type 1"]).mean().sort_values("Defense", ascending = False)

NameError: name 'df' is not defined

In [37]:
df.groupby(["Type 1"]).count()

NameError: name 'df' is not defined

In [38]:
# pridani sloupc "count" s hodnotou 1
df["count"] = 1
df

NameError: name 'df' is not defined

In [39]:
df.groupby(["Type 1"]).count()["count"]

NameError: name 'df' is not defined

In [40]:
# group by multiple variables
df.groupby(["Type 1", "Type 2"]).count()["count"]

NameError: name 'df' is not defined

### Working with large amounts of data

In [41]:
# chucksize = 5 -> najednou se zpracovava pet radku
# pd.concat -> pokud chci spojit nekolik ruznych souboru
new_df = pd.DataFrame(columns = df.columns) # the columns in new dataframe new_df are the same like in the old data frame

for df in pd.read_csv("modified.csv", chunksize = 5):
    results = df.groupby(["Type 1"]).count()
    
    new_df = pd.concat([new_df, results])

NameError: name 'pd' is not defined